
#tbl-drilldown tbody td, #tbl-drilldown thead td {
	padding: 2px 4px 2px 4px !important;
	margin: 2px !important;
	margin-top: 10px;
	text-align: center !important;
	font-size: 12px !important;
	border: 1px solid #696969 !important;
/* 	background-color: black !important; */
}
#titulo-drill {
	color: #fff !important;
}

.carregando{
	display: flex;
	background: rgba(255,255,255,1) !important;
	height: 100% !important;
	width: 100% !important;
	z-index: -1;
	justify-content: center;
	
}
.carregando-box{
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,1) !important;
	text-align: center;
	vertical-align: middle;
	margin-top: 10%;
	margin-bottom: auto;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate  {
    color: #000 !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
	 color: #000 !important;
}
div.dataTables_wrapper div.dataTables_length select, div.dataTables_wrapper div.dataTables_filter input {
	background-color: transparent;
	border: 0px;
	color: #000;
	border-bottom: 1px solid #fff;
}

div.dataTables_wrapper div.dataTables_length select > option {
	color: #000;
}


table.dataTable.no-footer {
    border-bottom: 0px;
    
}
table.dataTable{
	padding-top:10px !important;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-collapse: collapse !important;
	border: 0px;
}
table.dataTable thead th{
	 text-align: center;
	border: 0px;
}
table.dataTable thead tr{
	background-color: rgba(0,0,0,0.3) !important;
}
table.dataTable thead th, table.dataTable thead td {
    border-bottom: 0px !important;
    border-top: 0px !important;
}
#tbl-drilldown tbody .odd{
	background-color: rgba(73, 109, 137, 0.1) !important;
}
#tbl-drilldown tbody .even{
	background-color: rgba(8, 24, 43, 0.1) !important;
}
#tbl-drilldown tbody td, #tbl-drilldown thead td {
	border: 0px !important;
}
div.dataTables_wrapper{
	padding-top: 20px;
}
#tbl-drilldown tbody td{
	font-size: 0.8 !important;
}
#tbl-drilldown thead td {
		font-size: 1.1em !important;
}
.sorting ::before{
	visibility: false;
}