.conteudo{
	height: !important;
	
	
	
}
#titulo-evolucao{
	background: rgba(0,0,0,0.5);
    border-radius: 10px;
}
#menu-evolucao{
	padding:5px;
	background: #6977b9;
}
#div-evolucao{
	margin-top:20px;
	
}
#evolucao{
	background: yellow;
}

#tbl-evolucao tbody td, #tbl-evolucao thead td {
	padding: 2px 4px 2px 4px !important;
	margin: 2px !important;
	margin-top: 10px;
	text-align: center !important;
	font-size: 12px !important;
	border: 1px solid #696969 !important;
/* 	background-color: black !important; */
}

.atinge90{
	background: #d95c00;
}
#atingiu
{
 width:0;
 height:0;
 border: 10px solid;
 border-color: #28a745;
}
#atingiu95{
 width:0;
 height:0;
 border: 10px solid;
 border-color: #ffc107;
}
#atingiu90{
 width:0;
 height:0;
 border: 10px solid;
 border-color: #d95c00;
}
#naoAtingiu{
 width:0;
 height:0;
 border: 10px solid;
 border-color: #dc3545;
}