/* https://coolors.co/000d2b-0e2756-1d3070-384d7f-566b75 */
html, body {
	height: 100%;
	width: 100%;
	background: #e6e4e4;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font: "Times New Roman" !important;
}
table > tbody > tr.linha-resultado > td:empty{
	border: 0px !important;
	background: #E6E4E4 !important;
}

#conteudo{
	padding-top:10px;
}
.navbar-brand {
	color: #000614 !important;
	font-family: "Corbel" !important;
}
.nav {
	padding-top: 0px !important;
	z-index: 0;
}
#div-gi{
	padding-top:20px;
}


.logo {
	top: 0px;
	left: 0px;
	width: 125px;
	height: 50px;
}

.tbl-histograma {
	background: none !important;
	width: 100%;
	color:black;
	font-weight: bolder;
	margin-top: 0px;
	font-size: 11px;
	white-space: nowrap;
	margin-right: 20px;
}
.indicador{margin-top:20px; margin-bottom:10px;}
.tbl-histograma thead tr th {
	background: #02404a !important;
	color: #FFF !important;
}

.nav-item {
	color: #fff;
}

.tbl-histograma tbody td, .tbl-histograma thead th {
	padding: 2px 4px 2px 4px !important;
	text-align: center !important;
	border: 1px solid #696969 !important;
	/*background: none !important;*/
}

.titulos-gestao {
	color: #ffffff !important;
	background-color: #0062cc69;
	margin-top: 10px;
	margin-bottom: 1px;
}

.titulo-gestao-meio{
	margin-top: 10px;
}

table{
	margin: 0px !important;
}

.nav-tabs {
	border-bottom: 0px !important;
}

.navbar {
	background-color: rgba(202, 199, 199, 0.97);
}

/*.container-fluid{
	padding-top: 5px !important;
}*/

.sup-tabelas {
	background: rgba(0, 0, 0, 0) !important;
	margin-bottom: -6px;
}

.modal-footer>.btn-success {
	width: 100%;
}

.nav-tabs .nav-item {
	background: #02404a!important;
    border-color: #02404a !important;
	
}

.nav-tabs .nav-item:hover {
	color: #ccc !important;
}

.nav-tabs .nav-item .active {
	color: #fff !important;
	background: #037082!important;
	border-color: #037082 !important;
	border-color: black;
}
.nav-tabs .nav-item::first-of-type{
	border-right-color'': #ccc;
}

#filtro-indicador{
	background-color:#1e7732 !important;
	
	width: 40vw;
}

#tbl-drilldown_wrapper tbody td, #tbl-drilldown thead td {
	padding: 2px 4px 2px 4px !important;
	margin: 2px !important;
	text-align: center !important;
	font-size: 10px !important;	
	border: 1px solid #696969 !important;
 	background-color: transparent !important; 
}

#titulo-drill {
	color: #000000!important;
}

.div-inclusao-dados{
	background-color: white;
	height: 100%;
	border-radius: 10px;
	padding: 25px;
}

.td-valor{
	cursor: pointer;
	text-decoration: underline;
}

.tbl-inserir-amostral {
	width: 50vw !important;
	height: 30vh  !important;
	position: relative;
	box-sizing: border-box !important;
	font-size: 12px !important	;
}

.ipt-sm{
	width: 3em !important;
	border-radius: 5px;
	text-align: center;
}
#ipt-sm-real{
	width: 5em !important;
	
	
}


.ipt-coluna-valid{
	padding: 5px;
}

.ipt-md{
	width: 4em;
}

#corpo-inserir-amostrais {
	font-size: 12px;	
}

div.dataTables_wrapper div.dataTables_length select, div.dataTables_wrapper div.dataTables_filter input {
	background-color: transparent;
	border: 0px;
	color: #000;
	border-bottom: 1px solid #000;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #333 !important;
    border: 0px;
    background: linear-gradient(to bottom, #c9ced2 0%, #fff 100%);
    border-radius: 50%;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
	border-radius: 50%;
	border: 0px;
}
.odd{
	background-color: rgba(73, 109, 137, 0.2) !important;
}
#caret {
	width: 12px !important;
	margin-bottom: -35px;
	left: 50vw;
	position: relative;
	float: left;
	margin-top: -5px;
	z-index: 100;
	
}
.navbar .navbar-toggle {
	padding: 10px;
	margin: 15px 15px 25px 0;
}
.toggle-spam {
	color: #fff;
	font-size: 24px;
	border-top: none;
	margin-top: 0px;
	height: 20px;
	z-index: 1;
}
.conteudo{
	background-color: white;
	border-radius: 10px;
	padding: 25px;
}
div.dataTables_wrapper {
    width: 100%;
    padding: 20px;
}
.checkbox{
	padding: 5px !important;
	color: #000 !important;
}
.active > a  > label{
	color: #ccc !important;
}
.download-arquivos{
	margin-top:10px !important;
	margin-left: 10px !important;
	
}
#container-download{
	margin-top: 50px;
}
#container-download > h2{
	margin-bottom: 30px;
}
#controle-indicadores{
	margin-top:20px;
}
#btn-grafico{
	background-color: #94222d !important;
	border-color: #94222d !important;
	color:white;
}
#btn-alterar{
	background-color:#7d6404 !important;
	border-color: #7d6404 !important;
	color:white;
}
#btn-excel{
	background-color:#037082 !important;
	border-color: #037082 !important;
}
#btn-filtro{
	background-color:#176550 !important;
	border-color: #176550 !important;
}
#div-cont-excel{
/* 	background-color: #efebebd1 !important; */
 }
#btn-alterar:hover{
	background-color:#caa30c !important;
	border-color:#caa30c !important;
}
#btn-excel:hover{
	background-color:#03a5bf !important;
	border-color: #03a5bf !important;
}
#btn-filtro:hover{
	background-color:#24af70 !important;
	border-color: #24af70 !important;
}
#btn-grafico:hover{
	background-color: #da3848 !important;
	border-color: #da3848 !important;
}
#btn-pleito{
	background-color: #b92500 !important;
	border-color: #b92500!important;
	margin-left:15px;
}

#btn-pleito:hover{
	background-color: #f43100 !important;
	border-color: #f43100 !important;
}
#barra-lateral-ano{
	border-radius: 5px 10px 10px 5px;
	background: #1d2e3c;
	z-index: 2;
	padding: 20px 10px;
	color:white;
}

#div-download	{
	background: #3f6382;
}
#v-pills-ano{
	padding: 20px;
}

#btn-voltar{
	color:white;
}
#arquivos-donwload{
	padding:20px;
}
.linha-form-excel{
	padding-top:10px;
	
}
/*.horizontal-scroll-wrapper {
  width: 100px;
  height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  transform: rotate(-90deg);
  transform-origin: right top;
  transform:rotate(-90deg) translateY(-100px);
}
.horizontal-scroll-wrapper > div {
  width: 100px;
  height: 100px;
  transform: rotate(90deg);
  transform-origin: right top;
}*/
/* width */
::-webkit-scrollbar {
  width: 10px !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: #cbdeed; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
	
  background: #2B465D; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #496D89; 
}

.without-padding-right{
	padding-right: 0px;
}
.without-padding{
	padding: 0px;
}
.espacamento{
	margin-top: 5px;
}
.display-4 {
    font-size: 3.0rem;
}
#div-download{
	border-radius: 5px !important;
}

table.dataTable thead .sorting:before, 
table.dataTable thead .sorting_asc:before, 
table.dataTable thead .sorting_desc:before, 
table.dataTable thead .sorting_asc_disabled:before, 
table.dataTable thead .sorting_desc_disabled:before,
table.dataTable thead .sorting:after, 
table.dataTable thead .sorting_asc:after, 
table.dataTable thead .sorting_desc:after, 
table.dataTable thead .sorting_asc_disabled:after, 
table.dataTable thead .sorting_desc_disabled:after{
	right: 0em;
    content: "";
}

.div-grafico{
	background-color: rgba(255, 255, 255, 0.8);
	padding: 10px;
	width: 98%;
	margin: 1%;
	border-radius: 5px;
}
#myChart {
	margin-top:20px;
	background: rgba(0,0,0,0.1);
}
#info-parametros{
	color:white !important;
	background: #5789b7!important;
 	border-radius:10px 10px 0px 0px;
	left:10vw;
	width: 80vw;
}
#btn-fechar-modal{
	right:-40px;
}
#btn-fechar-modal:hover{
	cursor: pointer;
}
#link-parametros{
	color:white !important;
	text-decoration: underline;
	cursor: pointer;
}
.ipt-invalido{
	border:1px solid red !important;
}
.td-insuf{
	background-color: #ff00003d !important;
}
.td-suf{
	background-color: #00ff143d !important;
}
.td-indicador{
	cursor: pointer;
}
#btn-gravar-alteracao-indicador{
	padding-bottom: 20px;
}
.menu-indicadores{
	padding-top: 5vh;
}

.dropdown-menu{
	padding: 5px 0px;
}



.dropdown-menu > a{
	cursor: pointer;
}

.dropdown-menu > li > a{
	display: block;
	font-size: 13px;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 2px;
	
	
}
.dropdown-menu > li{
	display: block;
	width: 100% !important;
}

.dropdown-menu li a:hover, .dropdown-menu li a:focus, .dropdown-menu li a:active {
    background-color: #00A9AF !important;
    color: #FFFFFF;
}
.bootstrap-select.btn-group .dropdown-menu li a:focus, .bootstrap-select.btn-group .dropdown-menu li a:hover {
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 176, 182, 0.4);
    color: #333;
    background-color: rgba(237, 244, 244, 1) !important;
}


#modal-parametros{
	width: 100% !important;
}

#parametros{
	width: 75vw !important;
}


#calendario-vigente{
	border: none;
    background: #E6E4E4;
}


